body {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Add padding to content when mobile */
@media (max-width: 768px) {
  .content {
    padding: 1rem;
  }
}
